<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit user</title>
</head>
<body>
    <form th:method="PATCH" th:action="@{/admin/{id}/edit(id=${user.getId()})}" th:object="${user}">
        <label for="username">Enter username:</label>
        <input th:type="text" th:field="*{username}" id="username"/>

        <label for="yearOfBirth">Enter LastName:</label>
        <input th:type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>

        <label for = "editRole">Edit role </label>
        <select  multiple aria-label="multiple select example" id="editRole" name="editRols" >
            <option
                    th:each="rol : ${rols}"
                    th:value="${rol.id}"
                    th:text="${rol.name}">

            </option>
        </select>
        <br>
        <input type="submit" value="Update User!"/>
    </form>
    <br>
    <a href="/logout">logout</a>
</body>
</html>