<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new User</title>
</head>
<body>
    <form th:method="POST" th:action="@{/admin/new}" th:object="${newUser}">
          <label for="name">Enter username:</label>
          <input th:type="text" th:field="*{username}" id="name"/>

          <label for="yearOfBirth">Enter year of birth:</label>
          <input type="number" th:field="*{yearOfBirth}" id="yearOfBirth"/>

            <label for="password">Enter password:</label>
            <input th:type="password" th:field="*{password}" id="password"/>
          <br>
          <input type="submit" value="Create User!"/>
    </form>
    <br>
    <a href="/logout">logout</a>
</body>
</html>